<a href="https://colab.research.google.com/github/Tarunsri1998/Practice-Models/blob/main/Simple_Liner_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Excecuting a Simple Linear Regression Problem Without any EDA or Pre-Processing.

In [5]:
# Importing The Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# Loading the Dataset
dataset = pd.read_csv("/content/drive/MyDrive/Practice Problems/50_Startups.csv")

In [13]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
# Creating a copy of the dataset
df=dataset.copy()

In [21]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [23]:
# Splitting the dataset into X and Y
X = df.iloc[:,:-1]
y = dataset.iloc[:, 4]

In [27]:
X.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State'], dtype='object')

In [37]:
df['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In Categorical columns State there are only 3 categories and we will convert them using the One-hot encoding.

In [38]:
states=pd.get_dummies(X['State'],drop_first=True) # Here we are using Dummy Variable Trap
# get_dummies is used to create dummy variables wrt to the number of categories

In [39]:
#Drop the State column
X = X.drop('State',axis=1)

In [41]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [43]:
# Concate the Dummy Variable
X = pd.concat([X,states],axis=1)

In [44]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [45]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [47]:
# Fitting the training set to LinearRegression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [48]:
y_pred = regressor.predict(X_test)

In [49]:
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [50]:
y_test

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [51]:
# Usining r2 Performance matric to check the performannce of the model
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [52]:
score

0.9347068473282423

**CONCLUSION :** The R2 value is close to 1 so the Model is performing Quite Good.